 <div class="navbar">
  <div class="navbar-inner">
    <!-- We have home navbar without left link-->
    <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
    <div class="center sliding">Register</div>
    
  </div>
</div>
<!-- Register Page-->
<div data-page="register" class="page">
  <div class="page-content">

    <div class="content-block-title"></div>
    <div class="list-block">
      <ul>                  
        <li>
          <div class="item-content">
            <div class="item-media"><i class="f7-icons color-gray">person_fill</i></div>
            <div class="item-inner"> 
              <div class="item-input">
                <input id="register-username" type="text" placeholder="Username">
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content">
            <div class="item-media"><i class="f7-icons color-gray">lock_fill</i></div>
            <div class="item-inner"> 
              <div class="item-input">
                <input id="register-password" type="password" placeholder="Password">
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content">
            <div class="item-media"><i class="f7-icons color-gray">lock_fill</i></div>
            <div class="item-inner"> 
              <div class="item-input">
                <input id="register-password2" type="password" placeholder="Ketik Ulang Password">
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content">
            <div class="item-media"><i class="f7-icons color-gray">home_fill</i></div>
            <div class="item-inner"> 
              <div class="item-input">
                <input id="register-nama" type="text" placeholder="Nama Perusahaan">
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content">
            <div class="item-media"><i class="f7-icons color-gray">card_fill</i></div>
            <div class="item-inner"> 
              <div class="item-input">
                <input id="register-identitas" type="text" placeholder="Identitas">
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content">
            <div class="item-media"><i class="f7-icons color-gray">email_fill</i></div>
            <div class="item-inner"> 
              <div class="item-input">
                <input id="register-email" type="text" placeholder="Email">
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content">
            <div class="item-media"><i class="f7-icons color-gray">phone_fill</i></div>
            <div class="item-inner"> 
              <div class="item-input">
                <input id="register-telp" type="text" placeholder="No telp">
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content">
            <div class="item-media"><i class="f7-icons color-gray">tags_fill</i></div>
            <div class="item-inner"> 
              <div class="item-input">
                <input id="register-promo" type="text" placeholder="Kode Promo (opsional)">
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>

    <div class="content-block">
      <div class="row">

        <div class="col-100">
          <input id="submmit-register" type="submit" value="Submit" class="button button-big button-fill">
        </div>
      </div>
    </div>   

  </div>
</div>