
<!-- We don't need full layout here, because this page will be parsed with Ajax-->

<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <!-- We have home navbar without left link-->
    <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
    <div class="center sliding">Ubah Perencanaan</div>
    <div class="right">

      <a href="#" data-popover=".popover-links" class="link open-popover">
        <span id="nama-user">Admin</span>
        <i class="ion ion-ios-arrow-down"></i></a>
      </div>
    </div>
  </div>
  <!-- End Top Navbar-->
  <div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="ubah-perencanaan" class="page"> 
    <div class="page-content"> 
      <div class="content-block"> 
        <div class="row">
          <div class="col-50">
            <input id="add-field" type="button" value="Tambah Field" class="button button-big button-fill">
          </div> 
          <div class="col-50">
            <input id="del-field" type="button" value="Hapus Field" class="button button-big button-fill bg-red">
          </div> 
        </div> 
      </div>
        <div class="list-block">
          <ul id="mylist"> {{#each this}}
           <li class="item-divider">
             <i class="f7-icons color-blue" style="padding-right:5px">keyboard_fill</i>
             Data
           </li> 
           <li>
            <div class="item-content"> 
              <div class="item-inner">
              <div class="item-title label">Alokasi</div> 
                <div class="item-input">
                  <input name="nama-rencana[]" type="text" placeholder="Alokasi" value="{{nama}}">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content"> 
              <div class="item-inner">
              <div class="item-title label">Biaya (%)</div> 
                <div class="item-input">
                  <input name="biaya-rencana[]" type="number" placeholder="Biaya (%)" value="{{jumlah}}">
                </div>
              </div>
            </div>
          </li>{{/each}}
       </ul>
     </div> 
     <div class="content-block"> 
          <input id="ubah-perencanaan" type="submit" value="Update" class="button button-big button-fill close-popup"> 
    </div> 
    </div> 
  </div>
</div> 
