<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <!-- We have home navbar without left link-->
    <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
    <div class="center sliding">Ubah Cicilan</div>
    <div class="right">
      <a href="#" data-popover=".popover-links" class="link open-popover">
        <span id="nama-user">Admin</span>
        <i class="ion ion-ios-arrow-down"></i></a>
      </div>
    </div>
  </div>
  <!-- End Top Navbar-->
  <div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="ubah-cicilan" class="page"> 
      <!-- Scrollable page content-->
      <div class="page-content" style="padding-top: 10px;">
        <div class="list-block">
          <ul>      
           <li class="item-divider">
             <i class="f7-icons color-blue" style="padding-right:5px">calendar_fill</i>
             Tanggal
           </li>            
           <li>
            <div class="item-content"> 
              <div class="item-inner"> 
                <div class="item-input">
                  <input readonly id="ubah-cicilan-tanggal" type="text" placeholder="Tanggal Transaksi">
                </div>
              </div>
            </div>
          </li>
          <li class="item-divider">
            <i class="f7-icons color-blue" style="padding-right:5px">money_dollar_fill</i>
            Jumlah
          </li>
          <li>
            <div class="item-content"> 
              <div class="item-inner"> 
                <div class="item-input">
                  <input id="ubah-cicilan-jumlah" type="number" placeholder="Jumlah">
                </div>
              </div>
            </div>
          </li> 
          <li class="item-divider">
            <i class="f7-icons color-blue" style="padding-right:5px">compose_fill</i>
            Keterangan
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"></div>
              <div class="item-inner"> 
                <div class="item-input">
                  <textarea id="ubah-cicilan-keterangan" placeholder="Keterangan"></textarea>
                </div>
              </div>
            </div>
          </li>
          <li class="item-divider"></li>
        </ul>
      </div> 
      <div class="content-block">
        <div class="row">
          <div class="col-100">
            <input id="ubah-cicilan" type="submit" value="Ubah" class="button button-big button-fill">
          </div>
        </div>
      </div> 
    </div>
  </div>
</div> 
