
<!-- We don't need full layout here, because this page will be parsed with Ajax-->

<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <!-- We have home navbar without left link-->
    <div class="left">
      <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
    </div>
    <div class="center sliding">User</div>
    <div class="right">

      <a href="#" data-popover=".popover-links" class="link open-popover">
        <span id="nama-user">Admin</span>
        <i class="ion ion-ios-arrow-down"></i></a>
      </div>
    </div>
  </div>
  <div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="user" class="page">
    <a href="tambah-user.html" class="floating-button color-blue" >
      <i class="ion ion-plus"></i>
    </a>
    <!-- Search bar -->
    <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init">
      <div class="searchbar-input">
        <input type="search" placeholder="Search"><a href="#" class="searchbar-clear"></a>
      </div><a href="#" class="searchbar-cancel">Cancel</a>
    </form>

    <!-- Search bar overlay -->
    <div class="searchbar-overlay"></div>
    <!-- Scrollable page content-->
    <div class="page-content"> 
     <div class="content-block searchbar-not-found">
      Nothing found
    </div>

    <div class="list-block list-block-search searchbar-found media-list">
      <ul>{{#each this}}

        {{#js_compare "this.role === '0'"}}<li class="item-divider">Owner</li>{{/js_compare}}
        {{#js_compare "this.role === '1' && this.role_sebelum === '0'"}}<li class="item-divider">Admin</li>{{/js_compare}}
        {{#js_compare "this.role === '2' && this.role_sebelum === '1'"}}<li class="item-divider">Operator</li>{{/js_compare}} 
        {{#js_compare "this.role === '2' && this.role_sebelum === '0'"}}<li class="item-divider">Operator</li>{{/js_compare}} 

        <li class="swipeout">
         <div class="swipeout-content item-content">

           <div class="item-inner"> 
             <div class="item-title-row">
              <div class="item-title">{{username}}</div> 
              <div class="item-after"></div>
            </div>
            <div class="item-subtitle">
              {{#js_compare "this.role === '0'"}}Owner{{/js_compare}}
              {{#js_compare "this.role === '1'"}}Admin{{/js_compare}} 
              {{#js_compare "this.role === '2'"}}Operator{{/js_compare}}  </div>
            </div> 
          </div>
           
          <div class="swipeout-actions-right">

          <!-- KONDISI UNTUK USER ADALAH OWNER -->
          {{#js_compare "this.myrole === '0'"}}
            <a href="ubah-user.html?id={{id_user}}" class="bg-blue">Ubah</a>
            {{#js_compare "this.myrole != this.role"}}
            <a href="#" class="delete swipeout-delete" data-confirm="Apakah anda yakin ingin menghapus user <strong>{{username}}</strong> ?" data-confirm-title="Delete" data-close-on-cancel="true" data-index={{id_user}}>Hapus</a>
            {{/js_compare}}
          {{/js_compare}}

          <!-- KONDISI UNTUK USER ADALAH ADMIN -->
          {{#js_compare "this.myrole === '1'"}}
            {{#js_compare "this.my_id === this.id_user || this.role === '2'"}}
            <a href="ubah-user.html?id={{id_user}}" class="bg-blue">Ubah</a>
            {{/js_compare}}
            {{#js_compare "this.role === '2'"}}
            <a href="#" class="delete swipeout-delete" data-confirm="Apakah anda yakin ingin menghapus user <strong>{{username}}</strong> ?" data-confirm-title="Delete" data-close-on-cancel="true" data-index={{id_user}}>Hapus</a>
            {{/js_compare}}
          {{/js_compare}}
          </div>
        </li>
      </li>{{/each}}
    </ul>
  </div>
</div>
</div>
</div> 
