.kategori-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 30px;
    line-height: 41px;
    background: rgba(0, 0, 0, 0.2);
    /*color: #fff !important;*/
}
.f7-icons, .framework7-icons {
    font-size: 20px;
}
.list-block .item-title.label.label-register {
    width: 12%; 
}
.panel {
  background: #7a9dbb;
} 
.panel ul {
  border-bottom: 0px;
  border-top: 1px solid #8ba9c4;
}
.panel .list-block .item-content {
  background: #7a9dbb;
  border-bottom: 1px solid #8ba9c4;
}
.panel .list-block .item-link:active {
  background-color: #5884aa;
}
.panel .list-block .item-link .item-inner {
  /*background: none;*/
  border-bottom: 0px;
}
 
.panel .list-block .item-title {
  color: #fafafa;
}
.panel .list-block i {
  color: #fafafa;
  font-size: 25px;
  font-weight: 100;
}
body.with-panel-left-reveal .statusbar-overlay {
  background: #7a9dbb;
}
.popover {
      width: 200px;
    }
.info-box {
    display: block;
    height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}
.info-box-text {
    display: block;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-box-content {
    padding: 14px 10px 5px 10px;
    margin-left: 90px;
}
.info-box-number {
    padding-top: 2px;
    display: block;
    font-weight: bold;
    font-size: 20px;
}
.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2);
}
.bg-aqua {
    background-color: #77BBFF !important;
        color: #fff !important;
}
.bg-navy {
    background-color: #33577B !important;
    color: #fff !important;
}
.bg-olive {
    background-color: #3d9970 !important;
    color: #fff !important;
}
.bg-maroon {
    background-color: #d81b60 !important;
    color: #fff !important;
}
.pad {
    padding: 10px;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 20px;
    /*width: 100%;*/
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
.description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}
.description-block > .description-text {
    text-transform: uppercase;
}
.description-block > .description-header {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
}
.box .border-top {
    border-top: 1px solid #e3e3e3;
}
.box .border-right {
    border-right: 1px solid #e3e3e3;
}
.box-header.with-border {
    border-bottom: 1px solid #e3e3e3;
}
.chart-legend {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.chart-legend ul {
    list-style: none;
    font-size: 18px;
    margin: 10px 0;
}
.chart-legend li {
    display: inline-block;
    margin-right: 30px;
}
.chart-legend li span {
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    list-style-type: none !important;
}