<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <!-- We have home navbar without left link-->
    <div class="left">
      <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
    </div>
    <div class="center sliding">Arsip Hutang</div>
    <div class="right">
      <a href="#" data-popover=".popover-links" class="link open-popover">
        <span id="nama-user">Admin</span>
        <i class="ion ion-ios-arrow-down"></i></a>
      </div>
    </div>
  </div>
  <div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="arsip-hutang" class="page">
      <!-- Search bar -->
      <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init">
        <div class="searchbar-input">
          <input type="search" placeholder="Search"><a href="#" class="searchbar-clear"></a>
        </div><a href="#" class="searchbar-cancel">Cancel</a>
      </form>
      <!-- Search bar overlay -->
      <div class="searchbar-overlay"></div>
      <!-- Scrollable page content-->
      <div class="page-content"> 
       <div class="content-block searchbar-not-found">
        Nothing found
      </div>

      <div class="list-block list-block-search searchbar-found media-list">
        <ul>{{#each this}}


          <li class="swipeout">
            <div class="swipeout-content item-content">
              <div class="item-inner"> 
                <div class="item-title-row">
                  <div class="item-title">{{partner}}</div> 
                  <div class="item-after" style="color:black;">Rp. {{jumlah}}</div>
                </div>
                <div class="item-subtitle"> 
                  <div class="row">
                    <div class="col-50">{{kategori}}
                    </div> 
                    <div class="col-50" style="text-align: right;">
                        <span class="badge bg-blue">{{status}}</span>
                    </div> 
                  </div>
                </div>
                <div class="item-text">
                  {{#js_compare "this.keterangan === ''"}}-{{/js_compare}}
                  {{#js_compare "this.keterangan != ''"}}{{keterangan}}{{/js_compare}} 
                </div>
              </div> 
            </div>
            <div class="swipeout-actions-right">
              <a href="detail-arsip.html" class="bg-blue detail" data-index={{id_hutang}}>Lihat Detail</a>
              <a href="#" class="delete swipeout-delete" data-confirm="Apakah anda yakin ingin menghapus data ini ?" data-confirm-title="Hapus Data" data-close-on-cancel="true" data-index={{id_hutang}}>Hapus</a>
            </div> 
          </li>{{/each}}
        </ul>
      </div>
    </div>
  </div>
</div> 
