<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <!-- We have home navbar without left link-->
    <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
    <div class="center sliding">Detail Cicilan</div>
    <div class="right">
      <a href="#" data-popover=".popover-links" class="link open-popover">
        <span id="nama-user">Admin</span>
        <i class="ion ion-ios-arrow-down"></i></a>
      </div>
    </div>
  </div>
  <!-- End Top Navbar-->

  <div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="detail-cicilan" class="page"> 
      <!-- Speed Dial Wrap -->
      <div class="speed-dial">
        <!-- FAB inside will open Speed Dial actions -->
        <a href="#" class="floating-button">
          <!-- First icon is visible when Speed Dial actions are closed -->
          <i class="ion ion-gear-a" style="font-size: x-large;"></i>
          <!-- Second icon is visible when Speed Dial actions are opened -->
          <i class="ion ion-gear-b" style="font-size: x-large;"></i>
        </a>
        <!-- Speed Dial Actions -->
        <div class="speed-dial-buttons">
          <!-- First Speed Dial button -->
          <a href="ubah-cicilan.html" id="edit-cicilan" data-index="">
            <i class="ion ion-compose" style="font-size: large;"></i>
          </a>
          <!-- Second Speed Dial  button -->
          <a href="#" id="hapus-cicilan" data-index="">
            <i class="ion ion-trash-b" style="font-size: large;"></i>
          </a>
        </div>
      </div>
      <!-- End of Speed Dial -->
      <!-- Scrollable page content-->
      <div class="page-content">
      <div class="content-block-title" style="margin-top: 15px;">
        <i class="f7-icons color-gray" style="padding-right:5px">keyboard_fill</i>
      </div>
      <div class="list-block">
        <ul>      
         <li class="item-divider">
           <i class="f7-icons color-blue" style="padding-right:5px">calendar_fill</i>
           Tanggal Bayar
         </li>            
         <li>
          <div class="item-content"> 
            <div class="item-inner"> 
              <div class="item-input">
               <div class="item-title" id="tanggal">Item title</div>
             </div>
           </div>
         </div>
       </li>  
       <li class="item-divider">
        <i class="f7-icons color-blue" style="padding-right:5px">tags_fill</i>
        Kategori
      </li>
      <li>
        <div class="item-content"> 
          <div class="item-inner"> 
            <div class="item-title" id="kategori">Item title</div> 
          </div>
        </div>
      </li>
      <li class="item-divider">
        <i class="f7-icons color-blue" style="padding-right:5px">person_fill</i>
        Mitra
      </li>
      <li>
        <div class="item-content"> 
          <div class="item-inner"> 
            <div class="item-title" id="mitra">Item title</div>
          </div>
        </div>
      </li>
      <li class="item-divider">
        <i class="f7-icons color-blue" style="padding-right:5px">money_dollar_fill</i>
        Jumlah Tanggungan
      </li>
      <li>
        <div class="item-content"> 
          <div class="item-inner"> 
            <div class="item-title" id="jumlah">Item title</div>
          </div>
        </div>
      </li>
      <li class="item-divider">
        <i class="f7-icons color-blue" style="padding-right:5px">money_dollar_fill</i>
        Besar Cicilan
      </li>
      <li>
        <div class="item-content"> 
          <div class="item-inner"> 
            <div class="item-title" id="cicilan">Item title</div>
          </div>
        </div>
      </li> 
      <li class="item-divider">
        <i class="f7-icons color-blue" style="padding-right:5px">compose_fill</i>
        Keterangan
      </li>
      <li>
        <div class="item-content">
          <div class="item-inner"> 
            <div class="item-text" id="keterangan" style="color:black;font-size: 17px;">Item title</div>
          </div>
        </div>
      </li>
      <li class="item-divider">
        <i class="f7-icons color-blue" style="padding-right:5px">money_dollar_fill</i>
        Sisa Hutang
      </li>
      <li>
        <div class="item-content"> 
          <div class="item-inner"> 
            <div class="item-title" id="sisa">Item title</div>
          </div>
        </div>
      </li>
      <li class="item-divider">
        <i class="f7-icons color-blue" style="padding-right:5px">compose_fill</i>
        Status
      </li>
      <li>
        <div class="item-content">
          <div class="item-inner"> 
            <div class="item-title" id="status">Item title</div>
          </div>
        </div>
      </li>
      <li class="item-divider"></li>
    </ul>
  </div> 
  </div> 
</div>
</div> 
