<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <!-- We have home navbar without left link-->
    <div class="left">
      <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
    </div>
    <div class="center sliding">Detail Arsip</div>
    <div class="right">
      <a href="#" data-popover=".popover-links" class="link open-popover">
        <span id="nama-user">Admin</span>
        <i class="ion ion-ios-arrow-down"></i></a>
      </div>
    </div>
  </div>
  <div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="detail-arsip" class="page">
      <!-- Search bar -->
      <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init">
        <div class="searchbar-input">
          <input type="search" placeholder="Search"><a href="#" class="searchbar-clear"></a>
        </div><a href="#" class="searchbar-cancel">Cancel</a>
      </form>
      <!-- Search bar overlay -->
      <div class="searchbar-overlay"></div>
      <!-- Scrollable page content-->
      <div class="page-content"> 
       <div class="content-block searchbar-not-found">
        Nothing found
      </div>

      <div class="list-block list-block-search searchbar-found media-list">
        <ul>{{#each this}}
          <li>
           <div class="item-media"> 
           </div>
           <div class="item-inner"> 
            <div class="item-title-row">
              <div class="item-title">{{tanggal}}</div> 
              <div class="item-after" style="color:black;padding-right: 20px;">Rp. {{jumlah}}</div>
            </div>
            <div class="item-subtitle"> 
              {{#js_compare "this.keterangan === ''"}}-{{/js_compare}}
              {{#js_compare "this.keterangan != ''"}}{{keterangan}}{{/js_compare}} 
            </div>
          </div> 
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
</div> 
