<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <!-- We have home navbar without left link-->
    <div class="left">
      <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
    </div>
    <div class="center sliding">Hutang</div>
    <div class="right">
      <a href="#" data-popover=".popover-links" class="link open-popover">
        <span id="nama-user">Admin</span>
        <i class="ion ion-ios-arrow-down"></i></a>
      </div>
    </div>
  </div>
  <div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="hutang" class="page"> 
    <a href="tambah-hutang.html" class="floating-button color-blue">
      <i class="ion ion-plus"></i>
    </a> 
      <!-- Search bar -->
      <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init">
        <div class="searchbar-input">
          <input type="search" placeholder="Search"><a href="#" class="searchbar-clear"></a>
        </div><a href="#" class="searchbar-cancel">Cancel</a>
      </form>
      <!-- Search bar overlay -->
      <div class="searchbar-overlay"></div>
      <!-- Scrollable page content-->
      <div class="page-content"> 
       <div class="content-block searchbar-not-found">
        Nothing found
      </div>

      <div class="list-block list-block-search searchbar-found media-list">
        <ul>{{#each this}}
         

          <li>
            <a href="detail-hutang.html" class="item-link item-content detail" data-index={{id_hutang}}>
              <div class="item-media"> 
              </div>
              <div class="item-inner"> 
                <div class="item-title-row">
                  <div class="item-title">{{partner}}</div> 
                  <div class="item-after" style="color:black;">Rp. {{jumlah}}</div>
                </div>
                <div class="item-subtitle">
                  <div class="row">
                    <div class="col-50">{{kategori}}
                    </div> 
                    <div class="col-50" style="text-align: right;padding-right: 20px;">
                        {{#js_compare "this.status === 'On Progress'"}}<span class="badge bg-orange">{{status}}</span>{{/js_compare}}
                        {{#js_compare "this.status === 'Lunas'"}}<span class="badge bg-green">{{status}}</span>{{/js_compare}}
                    </div> 
                  </div> 
                </div>
                <div class="item-text">
                {{keterangan}} 
                </div>
              </div>  
           </a>
        </li>{{/each}}
      </ul>
    </div>
  </div>
</div>
</div> 
