
<!-- We don't need full layout here, because this page will be parsed with Ajax-->

<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <!-- We have home navbar without left link-->
    <div class="left">
      <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
    </div>
    <div class="center sliding">Konfigurasi</div>
    <div class="right">

      <a href="#" data-popover=".popover-links" class="link open-popover">
        <span id="nama-user">Admin</span>
        <i class="ion ion-ios-arrow-down"></i></a>
      </div>
    </div>
  </div>
  <div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="konfigurasi" class="page">
      <!-- Scrollable page content-->
      <div class="page-content">

        <div class="content-block-title">
        <i class="f7-icons color-gray" style="padding-right:5px">keyboard_fill</i>
        Profil Perusahaan</div>
        <div class="list-block">
          <ul>      
           <li class="item-divider">
             <i class="f7-icons color-blue" style="padding-right:5px">person_fill</i>
             Identitas
           </li>            
           <li>
            <div class="item-content"> 
              <div class="item-inner"> 
                <div class="item-input">
                  <input id="konfig-identitas" type="text" placeholder="Identitas">
                </div>
              </div>
            </div>
          </li> 
          <li class="item-divider">
            <i class="f7-icons color-blue" style="padding-right:5px">home_fill</i>
            Nama Perusahaan
          </li>
          <li>
            <div class="item-content"> 
              <div class="item-inner"> 
                <div class="item-input">
                  <input id="konfig-nama" type="text" placeholder="Nama Perusahaan">
                </div>
              </div>
            </div>
          </li> 
          <li class="item-divider">
            <i class="f7-icons color-blue" style="padding-right:5px">person_fill</i>
            Nama Direktur
          </li>
          <li>
            <div class="item-content"> 
              <div class="item-inner"> 
                <div class="item-input">
                  <input id="konfig-direktur" type="text" placeholder="Nama Direktur">
                </div>
              </div>
            </div>
          </li>
          <li class="item-divider">
            <i class="f7-icons color-blue" style="padding-right:5px">home_fill</i>
            Kota
          </li>
          <li>
            <div class="item-content"> 
              <div class="item-inner"> 
                <div class="item-input">
                  <input id="konfig-kota" type="text" placeholder="Kota">
                </div>
              </div>
            </div>
          </li> 
          <li class="item-divider">
            <i class="f7-icons color-blue" style="padding-right:5px">home_fill</i>
            Provinsi
          </li>
          <li>
            <div class="item-content"> 
              <div class="item-inner"> 
                <div class="item-input">
                  <input id="konfig-provinsi" type="text" placeholder="Provinsi">
                </div>
              </div>
            </div>
          </li> 
          <li class="item-divider">
            <i class="f7-icons color-blue" style="padding-right:5px">phone_fill</i>
            Kontak
          </li>
          <li>
            <div class="item-content"> 
              <div class="item-inner"> 
                <div class="item-input">
                  <input id="konfig-kontak" type="text" placeholder="Kontak">
                </div>
              </div>
            </div>
          </li> 
          <li class="item-divider">
            <i class="f7-icons color-blue" style="padding-right:5px">tags_fill</i>
            Jenis Perusahaan
          </li>
          <li>
            <div class="item-content"> 
              <div class="item-inner"> 
                <div class="item-input">
                  <input id="konfig-jenis" type="text" placeholder="Jenis Perusahaan">
                </div>
              </div>
            </div>
          </li> 
          <li class="item-divider">
          <i class="f7-icons color-blue" style="padding-right:5px">home_fill</i>
            Alamat
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"></div>
              <div class="item-inner"> 
                <div class="item-input">
                  <textarea id="konfig-alamat" placeholder="Alamat"></textarea>
                </div>
              </div>
            </div>
          </li> 
        </ul>
      </div> 
      <div class="content-block">
        <div class="row"> 
          <div class="col-100">
            <input id="submmit-konfig" type="submit" value="Update" class="button button-big button-fill">
          </div>
        </div>
      </div> 

    </div>
  </div>
</div>