
<!-- We don't need full layout here, because this page will be parsed with Ajax-->

<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <!-- We have home navbar without left link-->
    <div class="left">
      <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
    </div>
    <div class="center sliding">Laporan Tahunan</div>
    <div class="right">

      <a href="#" data-popover=".popover-links" class="link open-popover">
        <span id="nama-user">Admin</span>
        <i class="ion ion-ios-arrow-down"></i></a>
      </div>
    </div>
  </div>
  <div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="lap-tahunan" class="page"> 
       
      <!-- Scrollable page content-->
      <div class="page-content"> 
      <div class="content-block" style="padding-top: 10px; margin: 0px 0px 0px 0px;"> 
        <div class="row">
          <div class="col-50">
                      <input type="text" placeholder="Data Filter" readonly id="picker-filter" style="border: none;
                        font-size: 19px;
                        padding-left: 5px;
                        line-height: 2.2;
                        width: 100%;">
          </div> 
          <div class="col-50">
            <input id="filter" type="button" value="Filter" class="button button-big button-fill">
          </div> 
        </div> 
      </div> 

      <div class="list-block media-list" style="padding-top: 10px; margin: 0px 0px 0px 0px;">
        <ul>
        {{#each this}}
           <li class="item-divider" style="padding-top: 20px;">
          {{bulan}}
          </li>
          <li>
           <div class="item-content" style="border-bottom: 1px solid #e3e3e3;">
            <div class="item-media"></div>
             <div class="item-inner"> 
               <div class="item-title-row">
                <div class="item-title">Saldo Bulan Lalu</div> 
                <div class="item-after" style="color:black;">Rp. {{saldo_lalu}}</div>
              </div>
              </div> 
            </div>
          </li>
          <li>
           <div class="item-content" style="border-bottom: 1px solid #e3e3e3;">
            <div class="item-media"></div>
             <div class="item-inner"> 
               <div class="item-title-row">
                <div class="item-title">Pemasukan</div> 
                <div class="item-after" style="color:black;">Rp. {{pemasukan}}</div>
              </div>
              </div> 
            </div>
          </li>
          <li>
           <div class="item-content" style="border-bottom: 1px solid #e3e3e3;">
            <div class="item-media"></div>
             <div class="item-inner"> 
               <div class="item-title-row">
                <div class="item-title">Pengeluaran</div> 
                <div class="item-after" style="color:black;">Rp. {{pengeluaran}}</div>
              </div>
              </div> 
            </div>
          </li>
          <li>
           <div class="item-content" style="border-bottom: 1px solid #e3e3e3;">
            <div class="item-media"></div>
             <div class="item-inner"> 
               <div class="item-title-row">
                <div class="item-title">Saldo Akhir</div> 
                <div class="item-after" style="color:black;">Rp. {{saldo_akhir}}</div>
              </div>
              </div> 
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
</div> 
