
<!-- We don't need full layout here, because this page will be parsed with Ajax-->

<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <!-- We have home navbar without left link-->
    <div class="left">
      <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
    </div>
    <div class="center sliding">Pemasukan</div>
    <div class="right">

      <a href="#" data-popover=".popover-links" class="link open-popover">
        <span id="nama-user">Admin</span>
        <i class="ion ion-ios-arrow-down"></i></a>
      </div>
    </div>
  </div>
  <div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="pemasukan" class="page">
    <!-- POPUP TAMBAH DATA -->
     <a href="tambah-pemasukan.html" class="floating-button color-blue">
    <i class="ion ion-plus"></i>
  </a>
  <!-- END POPUP TAMBAH DATA -->
      <!-- Search bar -->
      <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init">
        <div class="searchbar-input">
          <input type="search" placeholder="Search"><a href="#" class="searchbar-clear"></a>
        </div><a href="#" class="searchbar-cancel">Cancel</a>
      </form>


      <!-- Search bar overlay -->
      <div class="searchbar-overlay"></div>
      <!-- Scrollable page content-->
      <div class="page-content"> 
      <div class="content-block" style="padding-top: 10px; margin: 0px 0px 0px 0px;"> 
        <div class="row">
          <div class="col-50">
                      <input type="text" placeholder="Data Filter" readonly id="picker-filter" style="border: none;
                        font-size: 19px;
                        padding-left: 5px;
                        line-height: 2.2;
                        width: 100%;">
          </div> 
          <div class="col-50">
            <input id="filter" type="button" value="Filter" class="button button-big button-fill">
          </div> 
        </div> 
      </div>
       <div class="content-block searchbar-not-found">
        Nothing found
      </div>

      <div class="list-block list-block-search searchbar-found media-list" style="padding-top: 10px; margin: 0px 0px 0px 0px;">
        <ul>{{#each this}}
          {{#js_compare "this.tanggal != this.tanggal_sebelum"}}<li class="item-divider" style="padding-top: 20px;">
          <div class="item-title-row">
          <div class="item-title">{{tanggal_indo}}</div> 
          <div class="item-after" style="color:red;">Rp. {{total}}</div>
          </div>
          </li>{{/js_compare}}

          <li class="swipeout">
           <div class="swipeout-content item-content">
            <div class="item-media"> <span class="kategori-box-icon" style="background-color: {{warna}} !important">
                  {{js "this.nama_kategori.charAt(0)"}}
                </span></div>
             <div class="item-inner"> 
               <div class="item-title-row">
                <div class="item-title">{{nama_kategori}}</div> 
                <div class="item-after" style="color:black;">Rp. {{jumlah}}</div>
              </div>
              <div class="item-subtitle">
              {{keterangan}} 
                 </div>
              </div> 
            </div>
            <div class="swipeout-actions-right">
              <a href="ubah-pemasukan.html" class="edit bg-blue" data-index={{id_income}}>Ubah</a>
              <a href="#" class="delete swipeout-delete" data-confirm="Apakah anda yakin ingin menghapus data ini ?" data-confirm-title="Delete" data-close-on-cancel="true" data-index={{id_income}}>Hapus</a>
            </div>
          </li>
        </li>{{/each}}
      </ul>
    </div>
  </div>
</div>
</div> 
