
<!-- We don't need full layout here, because this page will be parsed with Ajax-->

<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <!-- We have home navbar without left link-->
    <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
    <div class="center sliding">Tambah Kategori</div>
    <div class="right">

      <a href="#" data-popover=".popover-links" class="link open-popover">
        <span id="nama-user">Admin</span>
        <i class="ion ion-ios-arrow-down"></i></a>
      </div>
    </div>
  </div>
  <!-- End Top Navbar-->
  <div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="tambah-kategori" class="page"> 
     <div class="content-block-title" style="margin-top: 15px;">
      <i class="f7-icons color-gray" style="padding-right:5px">keyboard_fill</i>
      Tambah Kategori</div>
      <div class="list-block">
        <ul>      
         <li class="item-divider">
           <i class="f7-icons color-blue" style="padding-right:5px">list_fill</i>
           Nama Kategori
         </li>            
         <li>
          <div class="item-content"> 
            <div class="item-inner"> 
              <div class="item-input">
                <input id="tambah-kategori-nama" type="text" placeholder="Nama Kategori">
              </div>
            </div>
          </div>
        </li>  
        <li class="item-divider">
          <i class="f7-icons color-blue" style="padding-right:5px">tags_fill</i>
          Jenis Kategori
        </li>
        <li>
          <div class="item-content"> 
            <div class="item-inner"> 
              <div class="item-input">
                <select id="tambah-kategori-jenis">
                 <option value="">-Pilih Kategori-</option>
                 <option value="1">Pemasukan</option>
                 <option value="2">Pengeluaran</option>
               </select>
             </div>
           </div>
         </div>
       </li>
       <li>
         <li class="item-divider">
          <i class="f7-icons color-blue" style="padding-right:5px">tags_fill</i>
          Relevansi
        </li>
        <div class="item-content"> 
          <div class="item-inner"> 
            <div class="item-input">
              <select id="tambah-kategori-relevansi" disabled>
               <option value="">-Pilih Relevansi-</option>
               {{#each this}}
               <option value="{{id_budget}}">{{nama_budget}}</option>
               {{/each}}
             </select>
           </div>
         </div>
       </div>
     </li>
     <li class="item-divider">
      <i class="f7-icons color-blue" style="padding-right:5px">compose_fill</i>
      Warna
    </li>
    <li><a href="#" data-open-in="popup" class="item-link smart-select" data-back-on-select="true">
      <select id="tambah-kategori-warna">
        <optgroup label="Warna iOS">
          <option value="#5ac8fa" data-option-image="http://localhost/duitkas7/img/img_light_blue.jpg">Light Blue</option> 
          <option value="#ffcc00" data-option-image="http://localhost/duitkas7/img/img_yellow_ios.jpg">Yellow</option> 
          <option value="#ff9500" data-option-image="http://localhost/duitkas7/img/img_orange_ios.jpg">Orange</option>
          <option value="#ff2d55" data-option-image="http://localhost/duitkas7/img/img_pink_ios.jpg">Pink</option>
          <option value="#007aff" data-option-image="http://localhost/duitkas7/img/img_blue_ios.jpg">Blue</option>
          <option value="#4cd964" data-option-image="http://localhost/duitkas7/img/img_green_ios.jpg">Green</option>
          <option value="#ff3b30" data-option-image="http://localhost/duitkas7/img/img_red.jpg">Red</option>
        </optgroup>
        <optgroup label="Warna Material">
          <option value="#e91e63" data-option-image="http://localhost/duitkas7/img/img_pink_material.jpg">Pink</option> 
          <option value="#9c27b0" data-option-image="http://localhost/duitkas7/img/img_purple.jpg">Purple</option> 
          <option value="#673ab7" data-option-image="http://localhost/duitkas7/img/img_deep_purple.jpg">Deep Purple</option>
          <option value="#3f51b5" data-option-image="http://localhost/duitkas7/img/img_indigo.jpg">Indigo</option>
          <option value="#2196f3" data-option-image="http://localhost/duitkas7/img/img_blue_material.jpg">Blue</option>
          <option value="#00bcd4" data-option-image="http://localhost/duitkas7/img/img_cyan.jpg">Cyan</option>
          <option value="#009688" data-option-image="http://localhost/duitkas7/img/img_teal.jpg">Teal</option>
          <option value="#4caf50" data-option-image="http://localhost/duitkas7/img/img_green_material.jpg">Green</option>
          <option value="#8bc34a" data-option-image="http://localhost/duitkas7/img/img_light_green.jpg">Light Green</option>
          <option value="#cddc39" data-option-image="http://localhost/duitkas7/img/img_lime.jpg">Lime</option>
          <option value="#ffeb3b" data-option-image="http://localhost/duitkas7/img/img_yellow_material.jpg">Yellow</option>
          <option value="#ffc107" data-option-image="http://localhost/duitkas7/img/img_amber.jpg">Amber</option>
          <option value="#ff9800" data-option-image="http://localhost/duitkas7/img/img_orange_material.jpg">Orange</option>
          <option value="#ff5722" data-option-image="http://localhost/duitkas7/img/img_deep_orange.jpg">Deep Orange</option>
          <option value="#795548" data-option-image="http://localhost/duitkas7/img/img_brown.jpg">Brown</option>
          <option value="#9e9e9e" data-option-image="http://localhost/duitkas7/img/img_gray.jpg">Gray</option>
          <option value="#607d8b" data-option-image="http://localhost/duitkas7/img/img_blue_gray.jpg">Blue Gray</option>
        </optgroup>
      </select>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-title">- Pilih Warna -</div>
        </div>
      </div></a></li>
      <li class="item-divider"></li>
    </ul>
  </div> 
  <div class="content-block">
    <div class="row">  
      <div class="col-100">
        <input id="tambah-kategori" type="submit" value="Tambah" class="button button-big button-fill close-popup" disabled>
      </div>
    </div>
  </div> 
</div>
</div> 
