
<!-- We don't need full layout here, because this page will be parsed with Ajax-->

<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <!-- We have home navbar without left link-->
    <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
    <div class="center sliding">Tambah Kategori</div>
    <div class="right">

      <a href="#" data-popover=".popover-links" class="link open-popover">
        <span id="nama-user">Admin</span>
        <i class="ion ion-ios-arrow-down"></i></a>
      </div>
    </div>
  </div>
  <!-- End Top Navbar-->
  <div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="tambah-user" class="page"> 
      <div class="content-block-title" style="margin-top: 15px;">
        <i class="f7-icons color-gray" style="padding-right:5px">keyboard_fill</i>
        Tambah User</div>
        <div class="list-block">
          <ul>      
           <li class="item-divider">
             <i class="f7-icons color-blue" style="padding-right:5px">person_fill</i>
             Username
           </li>            
           <li>
            <div class="item-content"> 
              <div class="item-inner"> 
                <div class="item-input">
                  <input id="tambah-username" type="text" placeholder="Username">
                </div>
              </div>
            </div>
          </li> 
          <li class="item-divider">
            <i class="f7-icons color-blue" style="padding-right:5px">lock_fill</i>
            Password
          </li>
          <li>
            <div class="item-content"> 
              <div class="item-inner"> 
                <div class="item-input">
                  <input id="tambah-password" type="password" placeholder="Password">
                </div>
              </div>
            </div>
          </li> 
          <li class="item-divider">
            <i class="f7-icons color-blue" style="padding-right:5px">persons_fill</i>
            Role
          </li>
          <li>
            <div class="item-content"> 
              <div class="item-inner"> 
                <div class="item-input">
                  <select id="tambah-role">
                   <option value="">-Pilih Role-</option>
                   <option value="1">Admin</option>
                   <option value="2">Operator</option>
                 </select>
               </div>
             </div>
           </div>
         </li>
       </ul>
     </div> 
     <div class="content-block">
      <div class="row">  
        <div class="col-50">
          <a href="#" class="close-popup button button-big button-fill color-red">Batal</a>
        </div>
        <div class="col-50">
          <input id="tambah-user" type="submit" value="Tambah" class="button button-big button-fill close-popup" disabled>
        </div>
      </div>
    </div>
  </div>
</div> 
